---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import PolotnoCanvas from "../components/PolotnoCanvas";
---

<Layout title="Welcome to Astro.">
    <main class="xl:max-w-[1600px] mx-auto py-6">
        <PolotnoCanvas client:load />
    </main>
</Layout>


